.ysl-card {
  width: 22rem;
  animation: fadeIn 2s;
}

.banner {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-title {
  font-weight: bold;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.horizontal-card {
  width: 24rem;
}

.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-two {
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
}

.box-three {
  border: 10px solid gray;
  padding: 10px;
  margin: 10px;
}

.square-box {
  width: 10rem;
  height: 10rem;
  background-color: gray;
  position: relative;
}

.circle {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: absolute;
  border-radius: 50%;
  top: -2rem;
}

.circle-sticky {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: sticky;
  top: 10px;
}

.circle-fixed {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: fixed;
  top: 10px;
}